*{
    margin: 0;
    padding: 0;
    border: 0;

}

body{
    background-color: rgba(255, 166, 0, 0.151);
}

header{
    height: 100px;
}

nav{
    text-align: left;
    height: 50px;
    background-color: black;
    margin: 0px 50px 0px 50px;
}

main{
    text-align: left;
    height: 400px;
    width: 80%;
    float: left;
    background-color: blueviolet;

}

aside{
    text-align: left;
    height: 400px;
    width: 20%;
    float: right;
    background-color: blue;
}

footer{
    text-align: left;
    height: 500px;
    display: block;
    background-color: brown;
}

.logo{
    padding-left: 40%;
}

ul {
    list-style-type: none;
    overflow: hidden;
    text-align: center;
    padding: 0px 300px 0px 300px;
}

li {
    float: left;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
    background-color: black;
    border: solid black;
    border-width: 15px;
}

a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a:hover{
    color: darkorange;
}

.destaque1{
    width: 200px;
}

.destaque2{
    width: 200px;
    float: right;
}