*{
    margin: 0;
    padding: 0;
    border: 0;
}

/*-------------------------------------------- TEXTO -------------------------------------------------*/
h1{
    padding-left: 2vw;
    padding-bottom: 1vw;
    font-size: 3vw;
    text-shadow: 2px 2px #F19200;
}
.tabelaJogo caption{
    font-size: 1.7vw;
}
h2{
    font-size: 2.4vw;
    padding: 10px;
}
p{
    font-size: 1.6vw;
    padding: 10px;
}
h3{
    font-size: 1.7vw;
    padding: 10px;
}

/*-------------------------------------------- HEADER ----------------------------------------------  */
.logo{
    text-align: center;
}

/*--------------------------------------------- NAV --------------------------------------------------*/
.menu{
    width: 100%;
    padding-left: 27vw;
    padding-right: 29vw;
    padding-bottom: 50px;
}
.menuElemento{
    align-items: center;    
    padding-left: 10px;
    font-size: 2.2vw;
    color: rgb(255, 255, 255);

}
.menu table{
    border: solid black;
    background-color: rgb(0, 0, 0);
}
.menuElemento a{
    text-decoration: none;
    color: white;
    padding: 10px;
}
.menuElemento a:hover{
    color: darkorange;
    background-color: rgb(44, 24, 0);
}

/*--------------------------------------------- MAIN -----------------------------------------------*/
/*INICIO*/
.main{
    float: left;
    width: 70vw;
}
#foto1, #foto2, #foto3{
    list-style: none;
    width: 30vw;
}
.container{
    list-style: none;
    display: inline-block;
}

@media screen and (min-width: 100px) {
    #imagemHitanakegayama{
        width: 100px;
    }
}
@media screen and (min-width: 500px) {
    #imagemHitanakegayama{
        width: 200px;
    }
}
@media screen and (min-width: 800px) {
    #imagemHitanakegayama{
        width: 300px;
    }
}
/*HISTORIA*/
#img1Historia{
    width: 40vw;
    padding-left: 10px;
    float: left;
}
#mainHistoria p{
    padding-top: 10px;
    padding-bottom: 5px;
}
#mainHistoria li, #mainHistoria ul{
    left: 20px;
    font-size: 1.5vw;
}
#campeonatos{
    padding-left: 50px;
}
#navegacaoHistoria{
    float: right;
    height: 8vw;
    width: 40vw;
    font-size: 1.6vw;
}
#navegacaoHistoria td, #navegacaoHistoria tr{
    text-align: center;
    padding: 0;
    border: #000000 solid;
}
#textoMain p::first-letter{
    color: rgb(253, 166, 59);;
    font-size: 2vw;
}
#textoMain p:hover{
    font-size: 1.8vw;
}
#videoHistoria{
    padding: 10px; 
    width: 20vw; 
    font-size: 100px;
    font-size: 1.5vw;
}

/* CURIOSIDADES */
#InformacoesVideo{
    font-size: 1.8vw;
    padding: 30px;
}
#InformacoesVideo li{
    padding: 11px;
    color: rgb(0, 0, 0);
    font-size: 1.6vw;
}
.InformacoesVideoTitulos{
    text-shadow: 1px 1px 10px rgb(255, 175, 77);
    font-size: 2vw;
}
#saqueViagem{
    width: 20vw;
}
#peixinho{
    width: 20vw;
}
.videoHaikyuu{
    width: 25vw;
}

/* QUIZ */

#textoNome, #anoNumber{
    border: solid #000000;
    border-radius: 9%;
    font-size: 1.3vw;
}
button{
    color: #da8300;
    border: solid #aa6600;
    background-color: #ffa41c;
    width: 30vw;
    font-size: 1.3vw;
    height: 3vw;
    text-align: center;
}

button:hover{
    color: #da0000;
    border: solid rgb(170, 0, 0);
    background-color: #ff491ccb;
    width: 40vw;
    font-size: 1.5vw;
    height: 4vw;
    text-align: center;
}


/*--------------------------------------------- ASIDE -----------------------------------------------*/
.aside{
    /*background-color: crimson;*/
    float: right;
    width: 27vw;
}
.tabelaJogo td, .tabelaJogo th{
    border: solid black;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
    font-size: 1.3vw;
}
.tabelaJogo th{
    background-color: #ffa620;
}
.tabelaJogo tr:nth-child(odd) {
    background-color: #ff990034;
}
#imagemHinataCanto{
    width: 27vw;
}
a{
    color: rgb(22, 0, 0);
    text-decoration: none;
}
a:hover{
    color: rgb(231, 150, 0);
    background-color: #f191002a;
}

@media screen and (max-width: 1200px) {
    .main, .aside{
        display: block;
        width: 100vw;
    }
    p{
        font-size: 3vw;
    }
    h1{
        font-size: 5vw;
    }
    h2{
        font-size: 4vw;
    }
    h3{
        font-size: 3.2vw;
    }
    .tabelaJogo td, .tabelaJogo th{
        font-size: 2vw;
    }
    #campeonatos li, #InformacoesVideo li, #InformacoesVideo span{
        font-size: 3vw;
    }
    .tabelaJogo caption{
        font-size: 2vw;
    }
    .menuElemento{
        align-items: center;    
        padding-left: 10px;
        font-size: 4vw;
        color: rgb(255, 255, 255);
    }
    .menu{
        padding-left: 20vw;
        padding-right: 29vw;
        padding-bottom: 50px;
    }
    #navegacaoHistoria td{
        font-size: 3vw;
        height: 10vw;
        width: 45vw;
    }
    #saqueViagem{
        width: 50vw;
    }
    #peixinho{
        width: 50vw;
    }
    .videoHaikyuu{
        width: 50vw;
    }
    #videoHistoria{
        padding: 10px; 
        width: 40vw; 
    }
}

@media screen and (max-width: 768px) {
    .main, .aside{
        display: block;
        width: 100vw;
    }
    p{
        font-size: 5vw;
    }
    h1{
        font-size: 7vw;
    }
    h2{
        font-size: 6vw;
    }
    h3{
        font-size: 5.2vw;
    }
    .tabelaJogo td, .tabelaJogo th{
        font-size: 4vw;
    }
    #campeonatos li, #InformacoesVideo li, #InformacoesVideo span{
        font-size: 5vw;
    }
    .tabelaJogo caption{
        font-size: 4vw;
    }
    .menuElemento{
        align-items: center;    
        padding-left: 10px;
        font-size: 5vw;
        color: rgb(255, 255, 255);
    }
    .menu{
        padding-left: 10vw;
        padding-right: 29vw;
        padding-bottom: 50px;
    }
    #navegacaoHistoria td{
        font-size: 3vw;
        height: 10vw;
        width: 45vw;
    }
    #saqueViagem{
        width: 50vw;
    }
    #peixinho{
        width: 50vw;
    }
    .videoHaikyuu{
        width: 50vw;
    }
    #videoHistoria{
        padding: 10px; 
        width: 60vw; 
    }
}
